---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ProyectSection from "../components/ProyectSection.astro";
import ContactSection from "../components/ContactSection.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout title="Enrique Alcocer" transition:persist>
  <main class="bg-gray-950">
    <aside>
      <Header />
      <HeroSection />
      <ProyectSection />
      <ContactSection />
      <!-- <Footer position={"bottom"} /> -->
    </aside>
  </main>
  <style>
    main {
      margin: auto;
      color: white;
    }
    html {
      background-color: #030712;
    }
  </style>
</Layout>
