---
interface Props {
  logo: string;
  title: string;
}

const { logo, title } = Astro.props;
console.log(title);
---

<a
  href={`/${title}`}
  class="w-full m-2 rounded-md items-center justify-between flex max-w-24 h-36"
>
  <div class="flex flex-col items-center">
    <div class="justify-center flex justify-items-center aspect-square w-24">
      <img src={logo} />
    </div>
    <div class="w-full flex items-center justify-center">
      <h2 class="text-sm text-center">
        {title}
      </h2>
    </div>
  </div>
</a>
