---
import SocialMedia from "./SocialMedia.astro";
---

<section id="contacto" class="h-screen">
  <h2 class="text-center text-4xl font-bold mb-20">
    ¡Haz realidad tu proyecto!
  </h2>
  <div class="flex flex-col justify-center items-center">
    <h3>
      Haz crecer tu negocio con un sitio digital que genere experiencias.
      <h3>Crece tu marca personal y llevala al siguiente nivel</h3>
    </h3>
    <SocialMedia />
  </div>
</section>
