

<section class="h-screen">
  <h2 class="text-center text-4xl font-bold mb-4">¡Haz realidad tu proyecto!</h2>
  <h3>Haz crecer tu negocio con un sitio digital que genere experiencias.
  <h3>Crece tu marca personal y llevala al siguiente nivel</h3>
  <form class="text-center flex flex-col mt-10 border-2 rounded-lg h-1/3">
    <label for="name">¿Que proyecto tienes en mente?</label>
    <input  class="text-sm" placeholder="E-Commerce, Marca Personal, Digitalizar mi negocio..." type="text" id="name" name="name" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="message">Mensaje:</label>
    <textarea id="message" name="message" required></textarea>
    <button type="submit">Enviar</button>
  </form>
</section>
  
</section>
