<div
  class="z-50 headerHero flex items-center justify-start h-[10vh] bg-[#393E46] fixed top-0 w-full opacity-0"
>
  <h2
    class="ml-5 text-[#FFD369] text-center opacity-1 font-extrabold z-50 relative text-xl"
  >
    Enrique Alcocer
  </h2>
</div>
