---
import Headline from "../components/Headline.astro";
import SocialMedia from "./SocialMedia.astro";
---

<section
  id="heroSection"
  class="flex flex-col h-full w-screen herosection overflow-x-hidden"
>
  <div class="flex flex-col bg-[#222831]">
    <!--

    <div id="loader" class="w-full h-screen flex flex-col mb-36 items-center justify-center">
      <p class="text-[#FFD369] leading-[0] font-extrabold text-4xl">Desarrollador<br>Web</p>
      <p class="text-[#FFD369] leading-[0] font-extrabold text-[30px]">Ingeniero Informático</p>
      <p class="text-[#FFD369] leading-[0] font-extrabold text-4xl">Digitalizate</p>
    </div>
     -->
    <div
      class="h-[90svh] w-full items-center justify-center flex flex-col animate-name"
    >
      <img
        class="opacity-1 w-[200px] h-[200px] rounded-full relative heroImage"
        src="./profilepic.png"
        alt="Enrique Alcocer"
      />
      <h1
        class="animated-name-1 text-[#FFD369] text-center opacity-1 font-extrabold z-50 relative text-6xl"
      >
        Enrique Alcocer
      </h1>
      <h3 class="animated-name-11">Desarrollador de Software</h3>
    </div>
  </div>
</section>
<div class="h-[20vh]"></div>
<article class="flex flex-col justify-center items-center animation-text">
  <h2
    class="animated-text-1 text-left relative my-2 left-[-500px] font-extrabold text-4xl py-4"
  >
    Digitaliza tu negocio
  </h2>
  <h2
    class="animated-text-2 text-right relative my-2 right-[-500px] font-extrabold text-4xl py-4"
  >
    Date a conocer con un portfolio sorprendente
  </h2>
  <h2
    class="animated-text-3 text-left relative my-2 left-[-500px] font-extrabold text-4xl py-4"
  >
    Potencia tu presencia online
  </h2>
  <h2
    class="animated-text-4 text-right relative my-2 right-[-500px] font-extrabold text-4xl py-4"
  >
    Desarrollo web a medida
  </h2>
  <h2
    class="animated-text-5 text-center relative my-2 left-[-500px] font-extrabold text-6xl py-4"
  >
    Contacta y empecemos
  </h2>
</article>
<SocialMedia />

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const t1 = gsap.timeline({
    scrollTrigger: {
      trigger: ".heroImage",
      start: "top 20%",
      end: "bottom 20%",
      scrub: true,
    },
  });
  t1.to(".heroImage", {
    scale: 0.3,
    x: 140,
    y: -55,
  });
  t1.to(
    ".animated-name-1",
    {
      opacity: 0,
    },
    "<"
  );
  t1.to(
    ".animated-name-11",
    {
      opacity: 0,
    },
    0
  );
  t1.to(
    ".headerHero",
    {
      opacity: 1,
    },
    0
  );
  t1.set(".heroImage", {
    position: "fixed",
    top: "0px",
    opacity: 1,
    duration: 5,
    zIndex: 100,
  });
</script>
