---
import Card from "./Card.astro";
---

<div
  class="mt-4 bg-white border-4 border-red-700 rounded-md w-[90%] pt-4
text-red-700 font-[NHaas-Grotesk]"
>
  <img class="items-center" src="/LOGOMSREBRAND.png" alt="logo" />
  <h5 class="text-center text-sm">THE LIMITED TIME ITEMS COMPANY</h5>
  <div class="grid grid-cols-2 gap-1">
    <div class="flex pt-5 pb-5 flex-row w-full items-center justify-center">
      <Card title={"007"} logo={"/007.png"} />
    </div>
    <div class="flex pt-5 pb-5 flex-row
w-full items-center justify-center">
      <Card title={"McDonald's"} logo={"/McDonalds.png"} />
    </div>
    <div
      class="h-full pt-5 pb-5 flex flex-row
w-full items-center justify-center"
    >
      <Card title={"012"} logo={"/012.webp"} />
    </div>
    <div
      class="h-full pt-5 pb-5 flex flex-row w-full items-center
justify-center"
    >
      <Card title={"ESSNTLS 3"} logo={"/essentials3.png"} />
    </div>
    <div
      class="h-full pt-5 pb-5 flex flex-row w-full items-center justify-center"
    >
      <Card title={"015"} logo={"/015.png"} />
    </div>
    <div
      class="h-full pt-5 pb-5
flex flex-row w-full items-center justify-center"
    >
      <Card title={"REBRANDING"} logo={"/LOGOASTERISCOS.png"} />
    </div>
  </div>
</div>
