---
import Card from './Card.astro';
---

<section id="proyectSection" class="h-screen w-full flex items-center justify-center flex-col">
  <h2 class="text-center font-extrabold text-4xl">Project Archive</h2>
  <div class="mt-4 flex flex-col items-center justify-center h-[80vh] ">
    <div class="flex h-full flex-row">
      <Card title={'MilfShakes x McDonalds'} logo={'/logo-white.svg'} />
      <Card title={'Drops Archive'} logo={'/logo-white.svg'} />
    </div>
    <div class="h-full flex flex-row">
      <Card  title={'MyMoonCustoms'} logo={'/logo-white.svg'} />
      <Card  title={'Drops Archive'}logo={'/logo-white.svg'} />
    </div>
    <div class="h-full flex flex-row">
      <Card  title={'Drops Archive'} logo={'/logo-white.svg'} />
      <Card  title={'Drops Archive'} logo={'/logo-white.svg'} />
    </div>

  </div>
</section>