---
import Card from "./Card.astro";
import MilfshakesProyectSection from "./MilfshakesProyectSection.astro";
---

<section
  id="proyectos"
  class="w-full justify-center items-center flex flex-col"
>
  <h2 class="text-center font-extrabold text-4xl">Historial de proyectos</h2>
  <p>Pulsa en cada proyecto para conocer más</p>
  <MilfshakesProyectSection />
  <div
    class="mt-10 rounded-md w-[90%] sm:w-2/3 pt-4 text-black bg-white border-4 border-yellow-500 m-5"
  >
    <h3 class="text-center text-3xl font-medium">Otros proyectos</h3>
    <div class="grid grid-cols-2 gap-1">
      <div
        class="h-full pt-5 pb-5 flex flex-row w-full items-center justify-center"
      >
        <Card title={"CannaBubu"} logo={"/logo-cannabubu.png"} />
      </div>
      <div
        class="h-full pt-5 pb-5 flex flex-row w-full items-center justify-center"
      >
        <Card title={"MyMoonCustoms"} logo={"/mooncustoms.jpg"} />
      </div>
    </div>
  </div>
</section>
<style>
  @font-face {
    font-family: "NHaas-Grotesk";
    src: url("./NHaasGroteskDSPro-75Bd.otf") format("opentype");
  }
</style>
