---
interface Props {
  title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/manrope";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <title>{title}</title>
    <ViewTransitions />
  </head><body>
    <slot />
  </body><style is:global>
    @keyframes slideUp {
      from {
        transform: translateY(20%);
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes slideDown {
      from {
        transform: translateY(0);
        opacity: 1;
      }
      to {
        opacity: 0;
        transform: translateY(20%);
      }
    }
    @keyframes bump {
      0% {
        opacity: 0;
        transform: scale(1) translateX(200px);
      }
      50% {
        opacity: 0.5;
        transform: scale(1.1);
      }
      100% {
        opacity: 1;
        transform: scale(1) translateX(0);
      }
    }
    :root {
      color-scheme: light dark;
    }

    html {
      font-family: "Lalezar";
      letter-spacing: 0em;
      line-height: 1;
    }

    @media screen and max-width(768px) {
      html {
        letter-spacing: 0 !important;
      }
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    @font-face {
      font-family: "Lalezar";
      src: url("./Lalezar-Regular.ttf") format("truetype");
    }
  </style>
</html>
